{% extends 'back/layout.html.twig' %}
{% block title %}{{ parent() }}| Gestion de Contenu {% endblock %}
{% block subtitle %} Liste Pays {% endblock %}
{% block content %}

    <a href="{{ path('back_pays_new') }}" class="btn btn-success">+ Ajouter</a><br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-primary mb30">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pay in pays %}
                        <tr>
                            <td>{{ pay.id }}</td>
                            <td>{{ pay.name }}</td>
                            <td>
                                <select  class="form-control" onchange="location = this.value;">
                                    <option value="">Gérer:</option>
                                    <option value="{{path('back_ville_index',{'pays':pay.id})}}"> Villes </option>
                                </select>
                                <a href="{{ path('back_pays_show', {'id': pay.id}) }}"><i class="fa fa-eye"></i></a>
                                <a href="{{ path('back_pays_edit', {'id': pay.id}) }}"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {

            "use strict";

            jQuery('.table').dataTable();
        });


        // Select2
        jQuery('select').select2({
            minimumResultsForSearch: -1
        });

        jQuery('select').removeClass('form-control');
    </script>
{% endblock %}

