{% extends 'back/layout.html.twig' %}
{% block title %}{{ parent() }}| Gestion de Contenu{% endblock %}
{% block subtitle %} Liste Evénnement {% endblock %}
{% block content %}

    <a href="{{ path('back_sponsor_type_new') }}" class="btn btn-success">+ Ajouter</a><br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-primary mb30">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Label</th>
                        <th>Actif</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sponsor_type in sponsor_types %}
                        <tr>
                            <td>{{ sponsor_type.id }}</td>
                            <td>{{ sponsor_type.label }}</td>
                            <td>{{ sponsor_type.enabled ? 'Oui' : 'Non' }}</td>
                            <td>
                                <a href="{{ path('back_sponsor_type_show', {'id': sponsor_type.id}) }}"><i class="fa fa-eye"></i></a>
                                <a href="{{ path('back_sponsor_type_edit', {'id': sponsor_type.id}) }}"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {

            "use strict";

            jQuery('.table').dataTable();
        });


        // Select2
        jQuery('select').select2({
            minimumResultsForSearch: -1
        });

        jQuery('select').removeClass('form-control');
    </script>
{% endblock %}