{% extends 'back/layout.html.twig' %}
{% block title %}{{ parent() }}| Gestion de Contenu{% endblock %}
{% block subtitle %} Liste Devises {% endblock %}
{% block content %}

<a href="{{ path('back_devise_new') }}" class="btn btn-success">+ Ajouter</a>&nbsp;
{#<a href="{{ path('back_journee_index', {event: journee.event.id}) }}" class="btn btn-primary">Retour</a><br />#}
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-primary mb30">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Code</th>
                    <th>Symbol</th>
                    <th>Coeff</th>
                    <th>Main</th>
                    <th>actions</th>
                </tr>
                </thead>
                <tbody>
                {% for devise in devises %}
                    <tr>
                        <td>{{ devise.id }}</td>
                        <td>{{ devise.name }}</td>
                        <td>{{ devise.code }}</td>
                        <td>{{ devise.symbol }}</td>
                        <td>{{ devise.coeff }}</td>
                        <td>{{ devise.main ? 'Yes' : 'No' }}</td>
                        <td>
                            <a href="{{ path('back_devise_show', {'id': devise.id}) }}"><i class="fa fa-eye"></i></a>
                            <a href="{{ path('back_devise_edit', {'id': devise.id}) }}"><i class="fa fa-edit"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
            {% block javascripts %}
                {{ parent() }}

                <script>
                    jQuery(document).ready(function () {

                        "use strict";

                        jQuery('.table').dataTable();
                    });


                    // Select2
                    jQuery('select').select2({
                        minimumResultsForSearch: -1
                    });

                    jQuery('select').removeClass('form-control');
                </script>
            {% endblock %}

