{% set prixSupplementTotal = 0 %}
<div style="margin-bottom: 20px">
    <form action="{{ path('inscription_confirmation_page') }}" method="POST">

        <div class="container">


            <div class="card" id="cardPdf">
                <div class="card-header">
                    <h3>{{ 'Devis'|trans }}</h3>
                    <strong>{{ 'now'|date }}</strong>
                    <span class="float-right"> <strong>{{ 'Status'|trans({}, 'front') }}:</strong> {{ 'Waiting'|trans({}, 'front') }}</span>
                    <a class="btn btn-success pull-right"
                       href="{{path('application_generate_pdf' ) }}"><i class="fa fa-file-text"></i>Générer devis </a>

                </div>
                <div class="card-body">
                    <div class="row mb-4">
                        <div class="col-sm-6">
                            <h6 class="mb-3">{{ 'From'|trans({}, 'front') }}:</h6>
                            <div>
                                <img src="{{ asset('uploads/events/'~ event.logoFacture) }}" alt="Logo" />
                            </div>
                            <div>
                                <strong>{{ event.designation }}</strong>
                            </div>
                            <div>{{ event.adresse }}</div>
                            <div>{{ event.ville }}, {{ event.pays }}</div>
                            <div>{{ 'Email'|trans({}, 'front') }}: {{ configuration.emailDirection }}</div>
                            <div>{{ 'Phone'|trans({}, 'front') }}: {{ configuration.telephone }}</div>
                            <div>{{ 'Fax'|trans({}, 'front') }}: {{ configuration.fax }}</div>
                        </div>
                        <div class="col-sm-6">
                            {% if app.user is empty and bags['informations'] is empty %}
                                {#<h2 style="color: red;">{{ 'You must login'|trans({}, 'front') }}</h2>#}
                            {% else %}
                                {% if app.user is not empty %}
                                    {% set firstname = app.user.firstname %}
                                    {% set lastname = app.user.lastname %}
                                    {% set email = app.user.email %}
                                    {% set telephone = app.user.telephone %}
                                {% elseif bags['informations'] is not empty %}
                                    {% set firstname = bags['informations'].firstname %}
                                    {% set lastname = bags['informations'].lastname %}
                                    {% set email = bags['informations'].email %}
                                    {% set telephone = bags['informations'].telephone %}
                                {% endif %}

                                    <h6 class="mb-3">{{ 'To'|trans({}, 'front') }}:</h6>
                                    <div>
                                        <strong>{{ firstname }} {{ lastname }}</strong>
                                    </div>
                                    <div>{{ 'Email'|trans({}, 'front') }}: {{ email }}</div>
                                    <div>{{ 'Phone'|trans({}, 'front') }}: {{ telephone }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="table-responsive-sm">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th class="center">#</th>
                                <th>{{ 'Item'|trans({}, 'front') }}</th>
                                <th>{{ 'Description'|trans({}, 'front') }}</th>

                                <th class="right">{{ 'Unit Cost'|trans({}, 'front') }}</th>
                                <th class="center">{{ 'Qty'|trans({}, 'front') }}</th>
                                <th class="right">{{ 'Total'|trans({}, 'front') }}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% if bags['withEvent']  %}
                            <tr>
                                <td></td>
                                <td class="left">
                                    <strong>{{ 'Registration'|trans({}, 'front') }} {{ 'Event'|trans({}, 'front') }}</strong>
                                </td>
                                <td class="left"></td>
                                <td class="right">{{ getPriceByDevise((bags.tarifEvent), app.session.get('currency')) |number_format(2, '.', ',') }} {{ getDevise(app.session.get('currency')) }}</td>
                                <td class="center">1</td>
                                <td class="right">{{ getPriceByDevise((bags.tarifEvent), app.session.get('currency')) |number_format(2, '.', ',') }} {{ getDevise(app.session.get('currency')) }}</td>
                            </tr>
                                <tr>
                                    <td></td>
                                    <td class="left">
                                        <strong>{{ 'Accompagnants'|trans({}, 'front') }} {{ 'Event'|trans({}, 'front') }}</strong>
                                    </td>
                                    <td class="left"></td>
                                    <td class="right">{{getPriceByDevise(bags['tarifAcco'], app.session.get('currency')) |number_format(2, '.', ',') }} {{ getDevise(app.session.get('currency')) }}</td>
                                    <td class="center">{{bags['accom']|length  }}</td>
                                    <td class="right">{{getPriceByDevise(bags['tarifAcco'] * bags['accom']|length ,app.session.get('currency')) |number_format(2, '.', ',') }} {{ getDevise(app.session.get('currency'))  }}</td>
                                </tr>
                            {% endif %}


                            {% if array_packages is not empty %}
                                <tr>

                                    <td class="center"></td>
                                    <td class="left"><strong>{{ 'Reservation'|trans({}, 'front') }} {{ 'Hotel'|trans({}, 'front') }} : {{bags.hotels.object  }}</strong></td>
                                    <td class="left">du {{ bags.hotelDateDebut }} au {{ bags.hotelDateFin }} / ({{ nbNights }}) nuitées</td>
                                    <td class="right"></td>
                                    <td class="center"></td>
                                    <td class="right"></td>
                                </tr>
                                {% for array_package in array_packages %}
                                    <tr>
                                        <td class="center"></td>
                                        <td class="left">--</td>
                                        <td class="left">{{ array_package.package.designation }}</td>

                                        <td class="right">{{ getPriceByDevise((packagePrice(array_package.package)), app.session.get('currency')) |number_format(2, '.', ',') }} {{ getDevise(app.session.get('currency')) }}</td>
                                        <td class="center">{{ array_package.quantity }}</td>
                                        <td class="right">{{ getPriceByDevise((packagePrice(array_package.package) * array_package.quantity * nbNights), app.session.get('currency')) |number_format(2, '.', ',') }}
                                            {{ getDevise(app.session.get('currency')) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endif %}
                            {% if array_supplements is not empty %}
                                <tr>
                                    <td class="center"></td>
                                    <td class="left"><strong>{{ 'Supplements'|trans({}, 'front') }}</strong></td>
                                    <td class="left"></td>

                                    <td class="right"></td>
                                    <td class="center"></td>
                                    <td class="right"></td>
                                </tr>

                                {% for supplement in array_supplements %}
                                    <tr>
                                        <td class="center"></td>
                                        <td class="left">--</td>
                                        <td class="left">{{ supplement.designation }}</td>

                                        <td class="right">{{ getPriceByDevise((supplement.prix), app.session.get('currency')) |number_format(2, '.', ',') }} {{ getDevise(app.session.get('currency')) }}</td>
                                        <td class="center">1</td>
                                        <td class="right">{{ getPriceByDevise((supplement.prix), app.session.get('currency')) |number_format(2, '.', ',') }} {{ getDevise(app.session.get('currency')) }}</td>
                                    </tr>
                                    {% set prixSupplementTotal = prixSupplementTotal + supplement.prix %}
                                {% endfor %}
                            {% endif %}
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-lg-4 col-sm-5">

                        </div>

                        <div class="col-lg-4 col-sm-5 ml-auto">
                            <table class="table table-clear">
                                <tbody>
                                {% if bags['withEvent']  %}
                                <tr>
                                    <td class="left">
                                        <strong>{{ 'Registration'|trans({}, 'front') }} {{ 'Event'|trans({}, 'front') }}</strong>
                                    </td>
                                    <td class="right">{{ getPriceByDevise((bags.tarifEvent), app.session.get('currency')) |number_format(2, '.', ',') }} {{ getDevise(app.session.get('currency')) }}</td>
                                </tr>
                                    <tr>
                                        <td class="left">
                                            <strong>{{ 'Accompagnants'|trans({}, 'front') }} {{ 'Event'|trans({}, 'front') }}</strong>
                                        </td>
                                        <td class="right">{{getPriceByDevise(bags['tarifAcco'] * bags['accom']|length ,app.session.get('currency')) |number_format(2, '.', ',') }} {{ getDevise(app.session.get('currency'))  }}</td>
                                    </tr>
                                {% endif %}
                                {% if array_packages is not empty %}
                                    <tr>
                                        <td class="left">
                                            <strong>{{ 'Reservation'|trans({}, 'front') }} {{ 'Hotel'|trans({}, 'front') }}</strong>
                                        </td>
                                        <td class="right">{{ getPriceByDevise((bags.hotelPackageTotal), app.session.get('currency')) |number_format(2, '.', ',') }} {{ getDevise(app.session.get('currency')) }}</td>
                                    </tr>
                                {% endif %}
                                {% if array_supplements is not empty %}
                                    <tr>
                                        <td class="left">
                                            <strong>{{ 'Reservation'|trans({}, 'front') }} {{ 'Supplements'|trans({}, 'front') }}</strong>
                                        </td>
                                        <td class="right">{{ getPriceByDevise((prixSupplementTotal), app.session.get('currency')) |number_format(2, '.', ',') }} {{ getDevise(app.session.get('currency')) }}</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td class="left">
                                        <strong>{{ 'Total'|trans({}, 'front') }}</strong>
                                    </td>
                                    <td class="right">
                                        <strong>{{ getPriceByDevise((bags.hotelPackageTotal + prixSupplementTotal + bags.tarifEvent+(bags['tarifAcco'] * bags['accom']|length)), app.session.get('currency')) |number_format(2, '.', ',') }} {{ getDevise(app.session.get('currency')) }}</strong>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>

                </div>
            </div>



            {#<input type="button" id="btnSave" value="Save PNG"/>#}

            <div id="img-out"></div>
            <div class="row mode-de-paiement">
                <div class="col-md-12">
                    <div class="card-information">
                        <h4>{{ 'Payment method information'|trans({}, 'front') }} <i class="fa fa-credit-card"></i> *</h4>
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <label for='r11' style='width: 350px;'>
                                            <input name="paymentMethod" type='radio' id='client_paymentMethod_1' value='1' required /> {{ 'paymentMethod.1'|trans({}, 'front') }}
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"></a>
                                        </label>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class=panel-title>
                                        <label for='r12' style='width: 350px;'>
                                            <input name="paymentMethod" type='radio' id='client_paymentMethod_2' value='2' required /> {{ 'paymentMethod.2'|trans({}, 'front') }}
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"></a>
                                        </label>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>

                                            <strong>{{ 'Agency'|trans({}, 'front') }}:</strong> {{ configuration.agence }}<br/>
                                            <strong>{{ 'Account ID'|trans({}, 'front') }}:</strong> {{ configuration.numCompteBancaire }}<br/>
                                            <strong>{{ 'Swift'|trans({}, 'front') }}:</strong> {{ configuration.codeSwift }}<br/>
                                            <strong>{{ 'IBAN'|trans({}, 'front') }}:</strong> {{ configuration.codeIban }}<br/>



                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            {% if not bags['withEvent']  %}
            <div class="row condition-geneerale">
                <div class="col-md-12">
                    <div class="card-information">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <label for='r11' style='width: 350px;'>
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"></a>
                                        </label>
                                    </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        <p>
                                            <input name="hotel_terms" type='checkbox' id='hotel_terms' required />
                                            {{ 'By continuing, you accept the'|trans({}, 'front') }}
                                            <a href="{{ asset('uploads/terms/conditions_generales_de_vente.docx') }}" target="_blank">
                                                <span class="skin-color">{{ 'Terms and conditions'|trans({}, 'front') }}</span>
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <div class="col-md-12">

                </div>
            </div>
            <input class="btn btn-primary" type="submit" value="Confirmer"/>
        </div>


    </form>


</div>

<script src="{{ asset('assets/front/js/vendor/jquery-1.12.4.min.js') }}">
    (function($){})(jQuery);
</script>

<script type="text/javascript">


    $(document).ready(function () {

        $(function() {
            $("#btnSave").click(function() {
                var url = "{{ path('application_generate_pdf')}}" ;
                $.ajax({
                    type: "GET",
                    url: url,
                    dataType: 'json',
                    success: function (arrayResult) {

                    }
                });
                    });
        });





    });


</script>