{% extends 'back/layout.html.twig' %}
{% block title %}{{ parent() }}| Gestion de Contenu{% endblock %}
{% block subtitle %} Liste Motifs {% endblock %}
{% block content %}

    <a href="{{ path('back_pattern_new') }}" class="btn btn-success">+ Ajouter</a><br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-primary mb30">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>PropertyPath</th>
                        <th>ClassPath</th>
                        <th>Actif</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pattern in patterns %}
                        <tr>
                            <td>{{ pattern.id }}</td>
                            <td>{{ pattern.propertyPath }}</td>
                            <td>{{ pattern.classPath }}</td>
                            <td>{{ pattern.enabled ? 'Oui' : 'Non' }}</td>
                            <td>
                                <a href="{{ path('back_pattern_show', {'id': pattern.id}) }}"><i class="fa fa-eye"></i></a>
                                <a href="{{ path('back_pattern_edit', {'id': pattern.id}) }}"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {

            "use strict";

            jQuery('.table').dataTable();
        });


        // Select2
        jQuery('select').select2({
            minimumResultsForSearch: -1
        });

        jQuery('select').removeClass('form-control');
    </script>
{% endblock %}