{% extends 'back/layout.html.twig' %}
{% block title %}{{ parent() }}| Gestion de Contenu{% endblock %}
{% block subtitle %} Liste Tarifs {% endblock %}
{% block content %}

<a href="{{ path('back_tarif_new') }}" class="btn btn-success">+ Ajouter</a>&nbsp;
{#<a href="{{ path('back_journee_index', {event: journee.event.id}) }}" class="btn btn-primary">Retour</a><br />#}
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-primary mb30">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Prix</th>
                <th>Prix d'accompagnat</th>
                <th>Conférence</th>
                <th>Afficher prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tarif in tarifs %}
            <tr>
                <td>{{ tarif.id }}</td>
                <td>{{ tarif.label }}</td>
                <td>{{ tarif.prix }}</td>
                <td>{{ tarif.prixAccompagnant }}</td>
                <td>{{ tarif.event.designation }}</td>
                <td>{{ tarif.formattedVisible }}</td>
                <td>
                    <a href="{{ path('back_tarif_show', {'id': tarif.id}) }}"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('back_tarif_edit', {'id': tarif.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}

            {% block javascripts %}
                {{ parent() }}

                <script>
                    jQuery(document).ready(function () {

                        "use strict";

                        jQuery('.table').dataTable();
                    });


                    // Select2
                    jQuery('select').select2({
                        minimumResultsForSearch: -1
                    });

                    jQuery('select').removeClass('form-control');
                </script>
            {% endblock %}

