{% trans_default_domain 'front' %}
<nav class="navbar navbar-default">
    <div class="">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                <a href="{{ path('home') }}">
                    <img src="{{ asset('uploads/events/' ~ event.logo) }}" alt="Logo"/>
                </a>
            </div>
        </div>
        {% set routeCurrent=app.request.attributes.get('_route')  %}
        {% set current_path = '' %}
        {% if(app.request.attributes.get('_route') != 'home') %}
            {% set current_path = path('home') %}
        {% endif %}
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" data-hover="dropdown" data-animations="fadeInUp" aria-expanded="false" style="height: 1px;">
            <ul class="nav navbar-nav navbar-right">

                {% for menu in menus %}

                    {% if app.request.locale == 'en' %}
                        {% set menu_title = menu.titleEn %}
                    {% else %}
                        {% set menu_title = menu.title %}
                    {% endif %}
                    {% if menu.pages|length > 0 %}
                        <li class="dropdown ">
                        <a  class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ menu_title }}<i class="fa fa-angle-down" aria-hidden="true"></i></a>
                    {% else %}
                        {% if menu.titleEn == "Program" %}
                            <li>
                            <a  href="{{ path('application_event_program')}}">{{ menu_title }}</a>

                            {% elseif menu.titleEn == "Speakers" %}
                                <li>
                                <a  href="{{ path('application_event_intervenant')}}">{{ menu_title }}</a>
                        {% else %}
                        <li>
                        <a class=" {% if menu.link in routeCurrent %} {% endif %}" href="{{ current_path ~ menu.link }}">{{ menu_title }}</a>
                    {% endif %}
                    {% endif %}

                    {% if menu.pages|length > 0 %}
                        <ul class="dropdown-menu">
                            {% for page in menu.pages %}
                                {% if app.request.locale == 'en' %}
                                    {% set page_title = page.titleEn %}
                                {% else %}
                                    {% set page_title = page.title %}
                                {% endif %}
                                <li ><a href="{{ path('cms_page', { slug: page.slug }) }}">{{ page_title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                {% endfor %}
                {% if is_granted('ROLE_USER') == false %}
                    {#<li class="dropdown"><a class="csi-scroll csi-btn" href="#">{{ 'Registration'|trans }}</a>#}
                        {#<ul class="dropdown-menu">#}
                            <li><a class="csi-scroll " href="{{ path('application_event_inscription_option') }}">{{ 'Registration'|trans }}</a></li>
                            <li><a class="csi-scroll"   href="{{ path('inscription_hotel_page') }}">{{ 'Booking'|trans }}</a></li>

                        {#</ul>#}
                    {#</li>#}
                    {#<li><a class="csi-scroll" data-toggle="modal" data-target="#connexion" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'Login'|trans }}</a></li>#}

                    {% else %}
                        <li  ><a class="csi-scroll " href="{{ path('front_profile') }}"><i class="fa fa-user" aria-hidden="true"></i> {{ 'My Profile'|trans }}</a></li>
                        <li ><a  class="csi-scroll  " href="{{ path('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'Logout'|trans }}</a></li>
                {% endif %}
            </ul>
            <!--/.nav-collapse -->
        </div>
</nav>
