{% trans_default_domain 'front' %}
<nav class="col-xs-12 navbar navbar-default csi-navbar menu-conf-top">
    <div class="csicontainer">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="csi-logo">
                <a href="{{ path('home') }}">
                    <img src="{{ asset('uploads/events/' ~ event.logo) }}" alt="Logo"/>
                </a>
            </div>
        </div>
        {% set routeCurrent=app.request.attributes.get('_route')  %}
        {% set current_path = '' %}
        {% if(app.request.attributes.get('_route') != 'home') %}
            {% set current_path = path('home') %}
        {% endif %}
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav csi-nav">

                {% for menu in menus %}

                    {% if app.request.locale == 'en' %}
                        {% set menu_title = menu.titleEn %}
                    {% else %}
                        {% set menu_title = menu.title %}
                    {% endif %}
                    {% if menu.pages|length > 0 %}
                        <li class="dropdown">
                        <a  class="dropdown-toggle active {% if routeCurrent == 'cms_page' %}csi-btn{% endif %} " data-toggle="dropdown">{{ menu_title }}<span class="caret"></span></a>
                    {% else %}
                        <li>
                        <a class="csi-scroll  {% if menu.link in routeCurrent %}csi-btn {% endif %}" href="{{ current_path ~ menu.link }}">{{ menu_title }}</a>
                    {% endif %}

                    {% if menu.pages|length > 0 %}
                        <ul class="dropdown-menu">
                            {% for page in menu.pages %}
                                {% if app.request.locale == 'en' %}
                                    {% set page_title = page.titleEn %}
                                {% else %}
                                    {% set page_title = page.title %}
                                {% endif %}
                                <li ><a href="{{ path('cms_page', { slug: page.slug }) }}">{{ page_title }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
                {% endfor %}
                {% if is_granted('ROLE_USER') == false %}
                    {#<li class="dropdown"><a class="csi-scroll csi-btn" href="#">{{ 'Registration'|trans }}</a>#}
                        {#<ul class="dropdown-menu">#}
                            <li><a class="csi-scroll " href="{{ current_path }}#csi-registration">{{ 'Registration'|trans }}</a></li>
                            <li><a class="csi-scroll {% if routeCurrent == 'inscription_hotel_page' %}csi-btn{% endif %}"  href="{{ path('inscription_hotel_page') }}">{{ 'Booking'|trans }}</a></li>

                        {#</ul>#}
                    {#</li>#}
                    <li><a class="csi-scroll" data-toggle="modal" data-target="#connexion" href="#"><i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'Login'|trans }}</a></li>

                    {% else %}
                        <li  ><a class="csi-scroll {% if routeCurrent == 'front_profile' %}csi-btn{% endif %}" href="{{ path('front_profile') }}"><i class="fa fa-user" aria-hidden="true"></i> {{ 'My Profile'|trans }}</a></li>
                        <li ><a  class="csi-scroll {% if routeCurrent == 'logout' %}csi-btn{% endif %} " href="{{ path('logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> {{ 'Logout'|trans }}</a></li>
                {% endif %}
            </ul>
            <!--/.nav-collapse -->
        </div>
</nav>
