{% if sponsorsByType is not null %}
    <!--SPONSORED-->
    <section>
        {#<div id="csi-sponsors" class="csi-sponsors">#}
        {#<div class="csi-inner-bg">#}
        {#<div class="csi-inner">#}
        {#<div class="container " >#}






        {% for typeSponsor in sponsorsByType %}

            <div class="row">
                <div id="myCarouse_{{ typeSponsor.id }}" class="carousel slide sponsorh2" data-ride="carousel">

                    {% if typeSponsor.sponsors is not empty %}
                        <!--//main row-->

                        <h2>
                            {{ typeSponsor.label }}</h2>

                        <ol class="carousel-indicators">
                            {% set i =0 %}
                            {% for sponsor in typeSponsor.sponsors if sponsor.enabled %}
                                <li style="display: none !important;"
                                    data-target="#myCarouse_{{ typeSponsor.id }}"
                                    data-slide-to="{{ i }}" {% if i==0 %}class="active"{% endif %}></li>
                                {% set i =i+1 %}
                            {% endfor %}
                        </ol>

                        <div class=" sponsors-area carousel-inner">
                            {% set j = 0 %}
                            {% for sponsor in typeSponsor.sponsors if sponsor.enabled %}
                                <div class="  item {% if j==0 %}active {% endif %}"
                                >

                                    <img
                                            src="{{ asset('uploads/sponsors/' ~  sponsor.logo ) }}"
                                            alt=""/>


                                </div>
                                {% set j = j+1 %}
                            {% endfor %}
                        </div>
                        {% if typeSponsor.sponsors|length >1 %}

                            <!--//col-->
                            {#<a class="left carousel-control" href="#myCarouse_{{ typeSponsor.id }}"#}
                               {#data-slide="prev">#}
                                {#<span class="glyphicon glyphicon-chevron-left carrousel-cheveron-left">  </span>#}

                                {#<span class="sr-only">Previous</span>#}
                            {#</a>#}
                            {#<a class="right carousel-control" href="#myCarouse_{{ typeSponsor.id }}"#}
                               {#data-slide="next">#}
                                {#<span class="glyphicon glyphicon-chevron-right carrousel-cheveron-right">    </span>#}

                                {#<span class="sr-only">Next</span>#}
                            {#</a>#}
                        {% endif %}
                    {% endif %}
                    <!-- Indicators -->

                </div>
            </div>



            <!--//row-->
        {% endfor %}
    </section>
{% endif %}