{% extends 'back/layout.html.twig' %}
{% block title %}{{ parent() }}| Gestion de Contenu{% endblock %}
{% block subtitle %} Liste Programmes {% endblock %}
{% block content %}

    <a href="{{ path('back_programme_new', {journee: journee.id}) }}" class="btn btn-success">+ Ajouter</a>&nbsp;
    <a href="{{ path('back_journee_index', {event: journee.event.id}) }}" class="btn btn-primary">Retour</a><br />
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-primary mb30">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Designation</th>
                        <th>DesignationEn</th>
                        <th>NbPlacesDisponibles</th>
                        <th>InscriptionActive</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for programme in programmes %}
                        <tr>
                            <td>{{ programme.id }}</td>
                            <td>{{ programme.designation }}</td>
                            <td>{{ programme.designationEn }}</td>
                            <td>{{ programme.nbPlacesDisponibles }}</td>
                            <td>{{ programme.inscriptionActive ? 'Oui' : 'Non' }}</td>
                            <td>
                                <a href="{{ path('back_programme_show', {'id': programme.id}) }}"><i class="fa fa-eye"></i></a>
                                <a href="{{ path('back_programme_edit', {'id': programme.id}) }}"><i class="fa fa-edit"></i></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {

            "use strict";

            jQuery('.table').dataTable();
        });


        // Select2
        jQuery('select').select2({
            minimumResultsForSearch: -1
        });

        jQuery('select').removeClass('form-control');
    </script>
{% endblock %}