{% extends 'back/layout.html.twig' %}
{% block title %}{{ parent() }}| Gestion de Contenu{% endblock %}
{% block subtitle %} Liste Hotel Reservation Package {% endblock %}
{% block content %}

    <a href="{{ path('hotel_reservation_package_new') }}" class="btn btn-success">+ Ajouter</a><br />
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-primary mb30">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hotel_reservation_package in hotel_reservation_packages %}
            <tr>
                <td>{{ hotel_reservation_package.id }}</td>
                <td>{{ hotel_reservation_package.quantity }}</td>
                <td>
                    <a href="{{ path('back_hotel_reservation_package_show', {'id': hotel_reservation_package.id}) }}"><i class="fa fa-eye"></i></a>
                    <a href="{{ path('back_hotel_reservation_package_edit', {'id': hotel_reservation_package.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>


</table>
</div>
</div>
</div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        jQuery(document).ready(function() {

            "use strict";

            jQuery('.table').dataTable();
        });


        // Select2
        jQuery('select').select2({
            minimumResultsForSearch: -1
        });

        jQuery('select').removeClass('form-control');
    </script>
{% endblock %}