{% extends 'back/layout.html.twig' %}

{% block content %}
    <h1>un Hotel Réservation Package</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hotel_reservation_package.id }}</td>
            </tr>
            <tr>
                <th>Quantity</th>
                <td>{{ hotel_reservation_package.quantity }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('hotel_reservation_package_index') }}">back to list</a>

    <a href="{{ path('hotel_reservation_package_edit', {'id': hotel_reservation_package.id}) }}">edit</a>

    {{ include('hotel_reservation_package/_delete_form.html.twig') }}
{% endblock %}
