<html>
<head>
    <style>
body {
    background: #fff;
    font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif !important;
    line-height: 21px;
    color: #636e7b;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}
.dataTables_wrapper {
    position: relative;
    clear: both;
    margin-bottom: 15px;
}
.dataTables_wrapper::after {
    clear: both;
    display: block;
    content: '';
}
.dataTables_length {
    float: left;
    margin-bottom: 10px;
}
div {
    display: block;
}
.dataTables_filter {
    float: right;
    text-align: right;
    margin-bottom: 10px;
}
.mb30 {
    margin-bottom: 30px;
}

.table-primary thead tr th {
    background-color: #fff;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    -moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    -webkit-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    background-color: #fcfcfc;
    border-color: grey;
}
.dataTables_info {
    clear: both;
    float: left;
}

#content {
    position: relative;
    margin-bottom: 2px ; 
}
#content img {
    position: absolute;
    top: 0px;
    right: 0px;
}


}

    </style>
</head>
<body>

    <div id="content">
                    <img  style="width: 100px;"src="{{avatar }}">
                </div>
 {% for indice,resultItem in result %}
        <h3>Date de depart : {% if indice == 0 %} Non renseignée {% else %}{{ indice }}{% endif %}</h3>
        <div class="row">
            <div class="col-md-12">

                <div class="table-responsive">
                    <table class="table table-primary mb30">
                        <thead>
                        <tr>
                            <th>Code</th>
                            <th>Pays</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Compagnie</th>
                            <th>Heure de depart</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for resultItem_item in resultItem %}
                            <tr>
                                <td>{{ resultItem_item.code }}</td>
                                <td>{{ resultItem_item.pays }}</td>
                                <td>{{ resultItem_item.firstname }}</td>
                                <td>{{ resultItem_item.lastname }}</td>
                                <td>{{ resultItem_item.compagnie }}</td>

                                <td>{{ resultItem_item.heure }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    {% endfor %}


</body>
</html>
