<html>
<head>
    <style>
body {
    background: #fff;
    font-family: 'LatoRegular', 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, sans-serif !important;
    line-height: 21px;
    color: #636e7b;
}
.row {
    margin-left: -10px;
    margin-right: -10px;
}
.dataTables_wrapper {
    position: relative;
    clear: both;
    margin-bottom: 15px;
}
.dataTables_wrapper::after {
    clear: both;
    display: block;
    content: '';
}
.dataTables_length {
    float: left;
    margin-bottom: 10px;
}
div {
    display: block;
}
.dataTables_filter {
    float: right;
    text-align: right;
    margin-bottom: 10px;
}
.mb30 {
    margin-bottom: 30px;
}

.table-primary thead tr th {
    background-color: #fff;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    -moz-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    -webkit-box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    box-shadow: 0 3px 0 rgba(12,12,12,0.03);
    background-color: #fcfcfc;
    border-color: grey;
}
.dataTables_info {
    clear: both;
    float: left;
}

#content {
    position: relative;
    margin-bottom: 2px ; 
}
#content img {
    position: absolute;
    top: 0px;
    right: 0px;
}


}

    </style>
</head>
<body>

    <div id="content">
                    <img  style="width: 100px;"src="{{avatar }}">
                </div>
 <h3 style="background: white !important;"> Carte Bancaire</h3>
    <div class="row">
        <div class="col-md-12">

            <div class="table-responsive">
                <table class="table table-primary mb30">
                    <thead>
                    <tr>
                        <th style="background-color: ">Code</th>
                        <th>Pays</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Compagnie</th>
                        <th>Montant à payer </th>
                        <th>Montant payé</th>
                        <th>Devise</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for resultItem in result.carte %}
                        <tr>
                            <td>{{ resultItem.code }}</td>
                            <td>{{ resultItem.pays }}</td>
                            <td>{{ resultItem.firstname }}</td>
                            <td>{{ resultItem.lastname }}</td>
                            <td>{{ resultItem.compagnie }}</td>
                            <td>{{ resultItem.apaye }}</td>
                            <td>{{ resultItem.paye }}</td>
                            <td>{{ resultItem.currency }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h3 style="background: white !important;"> Virement</h3>
    <div class="row">
        <div class="col-md-12">

            <div class="table-responsive">
                <table class="table table-primary mb30">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Pays</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Compagnie</th>
                        <th>Montant à payer </th>
                        <th>Montant payé</th>
                        <th>Devise</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for resultItem in result.virement %}
                        <tr>
                            <td>{{ resultItem.code }}</td>
                            <td>{{ resultItem.pays }}</td>
                            <td>{{ resultItem.firstname }}</td>
                            <td>{{ resultItem.lastname }}</td>
                            <td>{{ resultItem.compagnie }}</td>
                            <td>{{ resultItem.apaye }}</td>
                            <td>{{ resultItem.paye }}</td>
                            <td>{{ resultItem.currency }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h3 style="background: white !important;" > Chéque Bancaire</h3>
    <div class="row">
        <div class="col-md-12">

            <div class="table-responsive">
                <table class="table table-primary mb30">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Pays</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Compagnie</th>
                        <th>Montant à payer </th>
                        <th>Montant payé</th>
                        <th>Devise</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for resultItem in result.cheque %}
                        <tr>
                            <td>{{ resultItem.code }}</td>
                            <td>{{ resultItem.pays }}</td>
                            <td>{{ resultItem.firstname }}</td>
                            <td>{{ resultItem.lastname }}</td>
                            <td>{{ resultItem.compagnie }}</td>
                            <td>{{ resultItem.apaye }}</td>
                            <td>{{ resultItem.paye }}</td>
                            <td>{{ resultItem.currency }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h3 style="background: white !important;" > Bon de commande</h3>
    <div class="row">
        <div class="col-md-12">

            <div class="table-responsive">
                <table class="table table-primary mb30">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Pays</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Compagnie</th>
                        <th>Montant à payer </th>
                        <th>Montant payé</th>
                        <th>Devise</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for resultItem in result.bon %}
                        <tr>
                            <td>{{ resultItem.code }}</td>
                            <td>{{ resultItem.pays }}</td>
                            <td>{{ resultItem.firstname }}</td>
                            <td>{{ resultItem.lastname }}</td>
                            <td>{{ resultItem.compagnie }}</td>
                            <td>{{ resultItem.apaye }}</td>
                            <td>{{ resultItem.paye }}</td>
                            <td>{{ resultItem.currency }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <h3 style="background: white !important;" > Liquide</h3>
    <div class="row">
        <div class="col-md-12">

            <div class="table-responsive">
                <table class="table table-primary mb30">
                    <thead>
                    <tr>
                        <th>Code</th>
                        <th>Pays</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Compagnie</th>
                        <th>Montant à payer </th>
                        <th>Montant payé</th>
                        <th>Devise</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for resultItem in result.liquide %}
                        <tr>
                            <td>{{ resultItem.code }}</td>
                            <td>{{ resultItem.pays }}</td>
                            <td>{{ resultItem.firstname }}</td>
                            <td>{{ resultItem.lastname }}</td>
                            <td>{{ resultItem.compagnie }}</td>
                            <td>{{ resultItem.apaye }}</td>
                            <td>{{ resultItem.paye }}</td>
                            <td>{{ resultItem.currency }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>


</body>
</html>
